* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #74ebd5;
    outline: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; font-size: 14px; font-weight: bold;
    margin: 12px;
}

.create { background-color: #74ebd5; color: #fff; }

.use { background-color: #ACB6E5; color: #fff; }

.btn
{ transform: scale(1.05); }

.create
{ background-color: #5ec4c2; }

.use
{ background-color: #9aa6d0; }

.return
{ background-color: #ef7272; color: #fff; padding: 3px;}



















* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

.info-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

legend {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}

label {
    font-size: 14px;
    color: #555;
}

select {
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    transition: border-color 0.3s;
}

select:focus {
    border-color: #74ebd5;
    outline: none;
}

.btn-attack {
    padding: 10px 20px;
    background-color: #74ebd5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-attack:hover {
    background-color: #5ec4c2;
    transform: scale(1.05);
}

.back-link {
    color: #ACB6E5;
    text-decoration: none;
    font-size: 14px;
}

.back-link:hover {
    text-decoration: underline;
}




